<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="form">

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]='email'></ion-input>
    </ion-item>
    <br>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]='password'></ion-input>
    </ion-item>

    <ion-button (click)='login()' expand='block'>Login</ion-button>
    <br>

    <h5 (click)='signup()'>Don't have account? <ion-text color='primary'>signup here</ion-text>
    </h5>
    
  </div>
</ion-content>